
.red-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.blue-button {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}

.red-player {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.blue-player {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}


